In [ ]:
"""
1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
*               - Expression
&#39;hello&#39; - Value
-87.8           - Value
\               - Expression
/               - Expression
+               - Expression
6               - Value
"""

In [ ]:
"""
2. What is the difference between string and variable?

String is a data type that we use to store a sequence of characters.

Variable is a memory location which we use to store some values.

String can be stored inside a Variable.
"""

In [ ]:
"""
3. Describe three different data types.

i.  Integer - Integer is a data type where we store whole numbers. Ex. -> int a = 10 or a = 10

ii. String - String is a data type where we store sequence of characters. Ex. -> String s = 'Hello' or s = 'Hello'

iii. Float - Float is a data type where we store decimal numbers. Ex -> Float f = 2.3 or f=2.3

"""

In [ ]:
a = 10
s = 'Hello'
f = 2.3
print(f'Integer - {a} | String - {s} | Float - {f}')

Integer - 10 | String - Hello | Float - 2.3

In [ ]:
"""
4. What is an expression made up of? What do all expressions do?

Expression is made up of values,variables and operators.
Ex. 2 + 4

All expressions are used to perform calculations or operations.

"""

In [ ]:
"""
5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

An expression is made up of values,variables and operators and it's primary goal is to perform calculation and produce a value.

On the other hand, a statement is a complete line of code that performs an action or a task.

Here, spam = 10 is a statement as it is assigning value 10 to spam variable therefore performing a task.
"""

In [ ]:
"""
6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

as we add 1 to the variable bacon so 22 + 1 , the value of bacon will be 23.
"""

In [ ]:
"""
7. What should the values of the following two terms be?

'spam' + 'spamspam'

Here the first and the second string adds up and togather it will print 'spamspamspam'. Ex. 'hello'+'world' -> 'helloworld'

'spam' * 3

Here the string is printed 3 times so it will print 'spamspamspam'. Ex. 'hello' * 2 -> 'hellohello'

"""

In [ ]:
print('spam' + 'spamspam')
print('spam' * 3)

spamspamspam
spamspamspam

In [ ]:
"""
8. Why is eggs a valid variable name while 100 is invalid?

A variable name can't start with a number.
so 100 is not a valid variable name.
e100 or a100 can be used as a valid variable name.

"""

In [ ]:
"""
9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

int() - this function is used to convert a value to an integer.
float() - this function is used to convert a value to a floating-point number.
str() - this function is used to convert a value to a string.

"""

In [ ]:
print(int("34"))
print(float("2.6"))
print(str(123))

34
2.6
123

In [ ]:
"""
10. Why does this expression cause an error? How can you fix it?
'I have eaten' + 99 + 'burritos.'

We can't add integers and strings together. We first have to convert integer to string and then add to other stirngs.

'I have eaten' + str(99) + 'burritos.'

"""

In [ ]:
print('I have eaten ' + str(99) + ' burritos.')

I have eaten 99 burritos.